In [ ]:
import pyspark.sql.functions as F
import pandas as pd
from sqlalchemy import create_engine
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, TimestampType

In [261]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [342]:
gt_query = """
    SELECT * FROM green_tripdata
"""

tzl_query = """
    SELECT * FROM taxi_zone_lookup
"""
green_tripdata_df = pd.read_sql(gt_query, engine)
taxi_zone_lookup_df = pd.read_sql(tzl_query, engine)

Question 3. - During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened:

In [343]:
oct_nov_df = green_tripdata_df[
    (pd.to_datetime(green_tripdata_df['lpep_pickup_datetime']).dt.date >= pd.to_datetime("2019-10-01").date()) &
    (pd.to_datetime(green_tripdata_df['lpep_pickup_datetime']).dt.date < pd.to_datetime("2019-11-01").date())
].drop_duplicates()

Up to 1 mile.

In [344]:
len(oct_nov_df[oct_nov_df["trip_distance"] <= 1.0])

104830

In between 1 (exclusive) and 3 miles (inclusive).

In [345]:
len(oct_nov_df[(oct_nov_df["trip_distance"] > 1.0) & (oct_nov_df["trip_distance"] <= 3.0)])

198995

In between 3 (exclusive) and 7 miles (inclusive).

In [346]:
len(oct_nov_df[(oct_nov_df["trip_distance"] > 3.0) & (oct_nov_df["trip_distance"] <= 7.0)])

109642

In between 7 (exclusive) and 10 miles (inclusive).

In [292]:
len(oct_nov_df[(oct_nov_df["trip_distance"] > 7.0) & (oct_nov_df["trip_distance"] <= 10.0)])

27686

Over 10 miles.

In [347]:
len(oct_nov_df[oct_nov_df["trip_distance"] > 10.0])

35201

Question 4. - Which was the pick up day with the longest trip distance?

In [348]:
green_tripdata_df["trip_duration"] = green_tripdata_df["lpep_dropoff_datetime"] - green_tripdata_df["lpep_pickup_datetime"]

green_tripdata_df["pickup_date"] = pd.to_datetime(green_tripdata_df["lpep_pickup_datetime"]).dt.date

filtered_df = green_tripdata_df[green_tripdata_df["pickup_date"].isin(pd.to_datetime(date).date() for date in ['2019-10-11', '2019-10-24', '2019-10-26', '2019-10-31'])]

filtered_df.groupby("pickup_date")["trip_duration"].max().reset_index().head(1)

  pickup_date   trip_duration
0  2019-10-11 0 days 23:59:47

Question 5. - Which were the top pickup locations with over 13,000 in total_amount (across all trips) for 2019-10-18?

In [372]:
pul_df = pd.merge(
    green_tripdata_df,
    taxi_zone_lookup_df,
    left_on="PULocationID",
    right_on="LocationID",
    how="inner"
)[["Zone", "total_amount", "lpep_pickup_datetime", "DOLocationID", "tip_amount"]]

tenth_oct_df = pul_df[(pd.to_datetime(pul_df["lpep_pickup_datetime"]).dt.date == pd.to_datetime("2019-10-18").date())]

grpd_df = tenth_oct_df[["Zone", "total_amount"]].groupby("Zone")["total_amount"].sum().reset_index()

grpd_df[grpd_df["total_amount"] > 13000]

                    Zone  total_amount
62     East Harlem North      18686.68
63     East Harlem South      16797.26
145  Morningside Heights      13029.79

Question 6. - For the passengers picked up in Ocrober 2019 in the zone name "East Harlem North" which was the drop off zone that had the largest tip?

In [385]:
    first_oct = pd.to_datetime("2019-10-01").date()
last_oct = pd.to_datetime("2019-10-31").date()

tmp_df = pul_df[(pd.to_datetime(pul_df["lpep_pickup_datetime"]).dt.date.between(first_oct, last_oct)) & (pul_df["Zone"] == "East Harlem North")][["DOLocationID", "tip_amount"]]

dol_df = pd.merge(
    tmp_df,
    taxi_zone_lookup_df,
    left_on="DOLocationID",
    right_on="LocationID",
    how="inner"
)[["Zone", "tip_amount"]]

dol_df.groupby("Zone")["tip_amount"].max().reset_index().sort_values(by="tip_amount", ascending=False).head(1)

           Zone  tip_amount
98  JFK Airport        87.3